/* SPACING */
$spacing: 1.6em;

/* COLORS */
$foreground: #424242;
$foreground-light: #9b9b9b;
$background: #fdfdfd;
$primary: #407C8E;
$secondary: #3ACED1;
$info: #1E72A6;
$ok: #879436;
$ko: #b32d20;
$warning: #DFB84F;
